@charset "utf-8";

/* Control the sice of the viewport */

@-moz-viewport { width: device-width; scale: 1; } /* for firefox*/
@-ms-viewport { width: device-width; scale: 1; } /* for Internet Destroyer*/
@-o-viewport { width: device-width; scale: 1; } /* for Opera*/
@-webkit-viewport { width: device-width; scale: 1; } /* for Safai & Chrome */
@viewport { width: device-width; scale: 1; } /* for the W3C standard*/

/* for Adjust padding so it draws on the box interior

margin:40px; all 4 sides
margin:40px auto; top/bottom right/left bttom 
margin:40px 30px 5px
*/

start arr the top,then continue clockwise around the box

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    
/* Control the zoom of the type for mobile
    
    units of measurment 
    
    Width - % 
    Height - rem
    type=rem 
    graphics - px (e.g border would be "graphic") 
    */
	
    -moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    
    /* Control the font size on mobile and desktop*/
    
    
    font-size: 100%; /* 100% = 1rem */
    
    font-family: Georgia, Times, Serif;
}

img { /* Images are get big or small from how big screen is */
	width: 100%;
    display: block;
}

body {
    padding:0;
    margin:0;
}

.masthead {
    background-color: maroon;
    overflow:hidden /* forces parent to wrap around its child */
}

.logo {
        height: 4.5rem;
        width:auto;
        margin: .5rem 5%;
    
        
        /* float:right;*/
        /* margin .5rem auto */
}

article {
        margin:0;
        padding; 0 5%;
        overflow: hidden;
}

h1 {
    margin: 1.5rem 0;
    font-size: 5rem;
    line-height: 4.5rem;
}

h1+p {
    font-size: 1.25rem; 
    font-weight: bold
}
        
p { 
    line-height:1.5rem;
    Margin: 0 0 1.5rem;
}
        
figure {
    margin: 0 auto 1.5rem; /* auto in case we want smaller */
    width: 80%; /* size can be smaller than, but not larger than 100% */
}    
    
    
Figcaption {
    font-size: 1.75rem:
    margin: .5rem 0 0 
}

footer {
    background-color: brown;
    overflow:hidden
}

footer p {
    font-size: .75rem;
    margin: .5rem 5% 5rem;
    color: white;
}

footer a {
    color: white;
}